body {
    background: white url("images/Wood_background.png");
}


li a {
    color: black;
    font-family: 'courier', fantasy;
    font-size: 20px;
    font-weight: bolder;
}

h1 {
    color: black;
    font-family: 'courier';
    
}

p {
    color: black;
    font-family: cursive;
    font-weight: bolder;
}